@model Proyecto_SI_Registro_Hotelero.Models.EstadoHabitacion

@{
    ViewData["Title"] = "Details";
}

<body id="Imag6">
    <h1><b>Detalles</b></h1>
    <div class="container" style="background-color:white; border-radius:15px; ">

        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Estado)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" class="btn btn-outline-info" asp-route-id="@Model.EstadoHId">Editar</a>
        <a asp-action="Index" class="btn btn-warning">Regresar</a>
    </div>
</body>

