@model Proyecto_SI_Registro_Hotelero.Models.TipoHabitacion

@{
    ViewData["Title"] = "Delete";
}

<body id="Imag4">

    <h3><b>¿Estás seguro de borrar tipo de habitación?</b></h3>
    <div class="container" style="background-color:white; border-radius:15px; ">

        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TipoDescripcion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TipoDescripcion)
            </dd>
        </dl>
        </div>

        <div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="TipoHId" />
            <input type="submit" class="btn btn-danger" value="Borrar" />
            <a asp-action="Index" class="btn btn-warning">Regresar</a>
        </form>
    </div>
</body>