@model Proyecto_SI_Registro_Hotelero.Models.TipoHabitacion

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDescripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-outline-info" asp-route-id="@Model.TipoHId">Editar</a> 
    <a asp-action="Index" class="btn btn-warning">Regresar</a>
</div>
